body {
	margin: 0;
	padding:0;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #81b3d2;
}

.catalog {
	background-color: #ffffff;
}

.catalog-list {
	list-style: none;
}

.catalog-item a {
	color: #000000;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	text-align: left;
}


.catalog-category {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	text-align: left;
}


.button-info {
	font-size: 14px;
	line-height: 21px;
	background-color: #81b3d2;
}

.button-submit {
	font-size: 14px;
	line-height: 21px;
	background-color: #766357;
}

.catalog-rating {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	font-weight: normal;
	text-align: center;
	background-color: #f2f2f2;
}

.footer {
	background-color: #ffffff;
	opacity: 0.9;
}

.footer a {
	color: #000000;
}

.footer-link {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.footer-social {
	list-style: none;
	text-align: center;
}

.social-button {
	background-color: #81b3d2;
	color: ##ffffff;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-align: center;
}
