@font-face {
	font-family: 'pt-sans';
	font-style: normal;
	font-weight: normal;
	src: local('PT Sans'), local('PTSans-Regular'),
	url('../fonts/pt-sans-regular.woff2') format('woff2'),
	url('../fonts/pt-sans-regular.woff') format('woff'),
	url('../fonts/pt-sans-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'pt-sans';
	font-style: normal;
	font-weight: bold;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
	url('../fonts/pt-sans-bold.woff2') format('woff2'),
	url('../fonts/pt-sans-bold.woff') format('woff'),
	url('../fonts/pt-sans-bold.ttf') format('truetype');
}

body {
	margin: 0;
	padding:0;

	font-family: 'pt-sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 1, 1, .2);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation {
	position: relative;
	background-color: #fff;
	padding: 18px 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 1056px;
	padding: 0;
	margin: 0 auto;

	list-style: none;
}

.site-navigation li {
	width: 264px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation a {
	color: #000;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 530px;
	width: 140px;
	height: 71px;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, .3);
}

.site-navigation-current {
	color: #766357;
}

.welcome {
	height: 510px;
	background-image: url("../img/welcome.png"),
	url("../img/polygon.png"),
	url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-size: auto, auto, cover;
	background-position: 370px 75px, 0 452px, 0 -83px;
}

.footer {
	background-color: #fff;
	opacity: 0.9;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 36px 0;
}

.footer a {
	color: #000;
}

.footer-link {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}


.footer-social-list {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
}

.social-button {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-button span {
	font-size: 0;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	margin: 0;
	display: flex;
	align-items: center;
}

.footer-copyright span {
	margin-right: 8px;
}

.footer-copyright-link:hover {
	color: #81b3d2;
}

.footer-copyright-link:active {
	color: #bdbbbc;
}

.post-header {
	background-color: #fff;
	padding: 58px 0 51px;
}

.post-header-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	max-width: 419px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.post-header-text {
	font-size: 14px;
	line-height: 26px;
	color: #333;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

.feautures-list {
	width: 1200px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.feauture-item {
	display: flex;
	align-items: center;
	width: 1200px;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #fff;
	background-color: #81b3d2;
}

.feature-item-wrapper {
	padding: 44px 40px 44px 40px;
}

.feauture-item-title {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	padding: 0 84px;
}

.feauture-item-text {
	font-size: 14px;
	font-weight: normal;
	display: block;
	margin: 20px 0;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.recomendations-list {
	background-color: #fff;
	padding: 58px 60px 65px 60px;
	box-sizing: border-box;
}

.recomendation-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 21px;
	font-weight: bold;
	color: #000;
	text-align: center;
	margin: 0;
	padding: 0;
}

.text {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-align: center;
	margin-top: 24px;

}

.recomendation-item-title {
	margin-top: 29px;
}

.recomendation-item-text{
	max-width: 284px;
}

.benefit-item-wrapper {
	padding: 47px 60px 47px 60px;
}

.benefit-item-title {
	padding: 0 64px;
}

.benefit-item-text {
	display: block;
	width: 100%;
	margin: 0;
	margin: 20px 0;
}

.appoitment {
	background-color: #fff;
	padding: 48px 0 130px;
	position: relative;
}

.appoitment h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-bottom: 25px;

}

.appoitment-date-text {
	max-width: 434px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	font-weight: normal;
	text-align: center;
}

.modal {
	position: fixed;
	background-color: #fff;
	color: #000;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, .15);
}

.modal-search {
	width: 568px;
	bottom: 10px;
	left: 50%;
	margin-left: -281px;

}

.modal-title {
	font-size: 21px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 35px 0;

	background-color: #766357;
}

.modal-title:hover {
	background-color: #604e43;
}

.modal-title:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, .3);
}

.search-form {
	margin: 0;
	padding: 55px;
	box-sizing: border-box;
}

.search-item-date {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 458px;
	line-height: 26px;
	margin: 0;
	padding: 0;
	margin-bottom: 29px;
}

.search-item input {
	font: inherit;
	background-color: #f2f2f2;
	color: #000;
	border: none;
}

.search-item input[type="text"] {
	width: 346px;
	box-sizing: border-box;
	padding: 10px 10px;
	background-image: url("../img/svg/calendar.svg");
	background-position: 316px center;
	background-repeat: no-repeat;
}

.search-item input[type="text"]:hover {
	background-color: #ebebeb;
}

.search-item input[type="text"]:focus {
	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.search-item-box {
	display: flex;
	margin: 0;
	padding: 0;
	width: 458px;
	justify-content: space-between;
	margin-bottom: 54px;
}

.search-item-people {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 226px;
}

.btn-box {
	position: relative;
	display: flex;
	width: 114px;
	margin: 0;
	padding: 0;
}

.btn {
	font: inherit;
	margin: 0 auto;
	width: 38px;
	height: 38px;
	padding: 0;
	background-color: #f2f2f2;
	border: none;
	cursor: pointer;
}

.btn-minus::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 13px;
	width: 10px;
	height: 3px;
	background-color: #a9a9a9;
}

.btn-plus::before,
.btn-plus::after {
	content: "";
	position: absolute;
	top: 17px;
	right: 13px;
	width: 10px;
	height: 3px;
	background-color: #a9a9a9;
}

.btn-plus::before {
	transform: rotate(90deg);
}

.btn-minus:hover::before,
.btn-plus:hover::before,
.btn-plus:hover::after {
	background-color: #000;
}

.btn-minus:active::before,
.btn-plus:active::before,
.btn-plus:active::after {
	background-color: #81b3d2;
}

.search-form input[type="number"] {
	width: 38px;
	height: 38px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.btn-search {
	display: block;
	width: 100%;
	height: 58px;
	padding: 0;
	border: none;
	color: #fff;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-search:hover {
	background-color: #669ec0;
}

.btn-search:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, .3)
}

.filters {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	background-position: 0;
	background-size: auto;
	padding: 22px 74px 10px 72px;
	box-sizing: border-box;
}

.filter-option {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 389px;
}

.filter-option-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	border: none;
}

.filter-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	color: #fff;
	margin: 0;
	padding: 0;
	margin-bottom: 28px;
}

.title-checkbox {
	margin-bottom: 28px;
}

.filter-option-type {
	display: block;
	padding-left: 35px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: inline-block;
	height: 23px;
	margin-bottom: 23px;
	vertical-align: middle;
	background: url("../img/svg/checkbox-off.svg") left top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label {
	background: url("../img/svg/checkbox-on.svg") left top no-repeat;
}

.filter-option-type,
.filter-range {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}

.filter-option-range {
	padding: 0;
	margin: 0;
}

.filter-range {
	width: 330px;
	border: none;
	padding: 0;
	margin-right: -5px;
}

.range-title {
	margin-bottom: 13px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #fff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;

	background: #fff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #fff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000;

	background: #fff;
}

.search-filter {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	width: 1200px;
	background-color: #fff;
	padding: 22px 0 22px;
	padding-left: 72px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

.search-filter-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 0;
	margin-right: 49px;
	padding: 0;
}

.search-filter h2 {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.search-filter-list {
	display: flex;
	justify-content: space-between;
	width: 238px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	list-style: none;
}

.search-filter-list a {
	color: rgba(0, 0, 0, .3);
	border-bottom: 1px dashed #81b3d2;
}

.search-filter-list a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.search-filter-list a:active {
	color: #000;
	border: none;
}


.search-filter-link-current {
	color: #81b3d2;
	border: none;
}

.search-filter-btn {
	position: relative;
	margin-left: auto;
}

.search-filter-btn-up::before,
.search-filter-btn-down::before {
	content: "";
	position: absolute;
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
}

.search-filter-btn-up::before {
	right: 96px;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent #cacaca transparent;
}

.search-filter-btn-down::before {
	right: 73px;
	border-width: 10px 5px 0 5px;
	border-color: #cacaca transparent transparent;
}

.search-filter-btn-up:hover::before {
	border-bottom-color: #000;
}

.search-filter-btn-up:active::before {
	border-bottom-color: #81b3d2;
}

.search-filter-btn-down:hover::before {
	border-top-color: #000;
}

.search-filter-btn-down:active::before {
	border-top-color: #81b3d2;
}

.catalog {
	background-color: #fff;
	width: 1200px;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1200px;
}

.catalog-item {
	display: flex;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	padding: 27px 72px 21px 72px;
}

.catalog-item-category {
	margin-left: 30px;
}

.catalog-link h3:hover {
	color: #81b3d2;
}

.catalog-link h3:active {
	color: rgba(0, 0, 0, .3);
}

.catalog-title {
	font-size: 21px;
	line-height: 26px;
	color: #000;
	font-weight: bold;
	margin: 0;
}

.catalog-item-price-range {
	color: #333;
	font-weight: normal;
	margin: 0;
	margin-top: 5px;
}

.catalog-price-text {
	width: 100%;
}

.catalog-btn-info {
	padding: 5px 15px;
	background-color: #81b3d2;
	color: #fff;
	margin-right: 4px;
}

.catalog-btn-info:hover {
	background-color: #669ec0;
	color: #fff;
}

.catalog-btn-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, .3);
}

.catalog-btn-booking {
	padding: 5px 15px;
	background-color: #766357;
	color: #fff;
}

.catalog-btn-booking:hover {
	background-color: #604e43;
	color: #fff;
}

.catalog-btn-booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, .3);
}

.catalog-box {
	align-self: flex-end;
	margin-left: auto;
}

.catalog-text {
	margin: 0;
	font-weight: normal;
	color: #666;
	text-align: center;
	background-color: #f2f2f2;
	width: 110px;
	margin-bottom: 10px;
}

.catalog-stars {
	position: relative;
}

.catalog-stars::before {
	position: absolute;
	content: "";
	height: 17px;
	top: -68px;
	right: 0;
	background-image: url("../img/svg/star.svg");
	background-repeat: space;
	margin-bottom: auto;
}

.catalog-star-2::before {
	width: 40px;
}

.catalog-star-3::before {
	width: 63px;
}

.catalog-star-4::before {
	width: 89px;
}



