body {
	margin: 0;
	padding:0;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, .2);
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
	position: relative;
	background-color: #fff;
	padding: 15px 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 1056px;
	padding: 0;
	margin: 0 auto;

	list-style: none;
}

.site-navigation li {
	width: 264px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation a {
	color: #000;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 529px;
	width: 140px;
	height: 71px;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, .3);
}

.site-navigation-current {
	color: #766357;
}

.welcome {
	width: 1200px;
	height: 510px;
	background-image: url("../img/welcome.png"),
	url("../img/polygon.png"),
	url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-size: auto, auto, cover;
	background-position: center, bottom, 0;
}

.footer {
	background-color: #fff;
	opacity: 0.9;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 36px 0;
}

.footer a {
	color: #000;
}

.footer-link {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}


.footer-social-list {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
}

.social-button {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-button span {
	font-size: 0;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	margin: 0;
	display: flex;
	align-items: center;
}

.footer-copyright span {
	margin-right: 8px;
}

.footer-copyright-link:hover {
	color: #81b3d2;
}

.footer-copyright-link:active {
	color: #bdbbbc;
}


.feautures {

}

.post-header {
	background-color: #fff;
	padding: 61px 0 56px;
}

.post-header-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.post-header p {
	font-size: 14px;
	line-height: 26px;
	color: #333;
	font-weight: normal;
	text-align: center;
}

.feautures-list {
	/*display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;*/
	width: 1200px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.feauture-item {
	display: flex;
	align-items: center;
	width: 1200px;
	text-align: center;
	color: #fff;
	background-color: #81b3d2;
}

.feauture-item-title {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
}

.feauture-item-text {
	font-size: 14px;
	font-weight: normal;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.recomendations-list {
	background-color: #fff;
	padding: 60px 63px 85px 72px;
	box-sizing: border-box;
}

.recomendation-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 21px;
	font-weight: bold;
	color: #000;
	text-align: center;
	margin: 0;
	padding: 0;
}

.text {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	text-align: center;
	margin: 0;
}

.recomendation-item-title {
	margin-top: 29px;
	margin-bottom: 31px;
}

.benefits-list {
	padding: 50px 77px 64px 95px;
	box-sizing: border-box;
}

.benetit-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

.appoitment {
	background-color: #fff;
	padding: 57px 0 52px;
}

.appoitment h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	margin: 0;

}

.appoitment p {
	font-size: 14px;
	line-height: 24px;
	color: #333;
	font-weight: normal;
	text-align: center;
}

.popup h3 {
	font-size: 21px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center;

	background-color: #766357;
}

.search-form {
	background-color: #fff;
}

.search-item {
	line-height: 26px;
	text-align: left;
}

.search-item input {
	font: inherit;
	background-color: #f2f2f2;
	border: none;
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:focus {
	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.button {
	font: inherit;
	background-color: #f2f2f2;
	color: #a9a9a9;
}

.button:hover {
	color: #231f20;
}

.button:active {
	color: #81b3d2;
}

.submit {
	font-size: 21px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center;

	background-color: #81b3d2;
}

.submit:hover {
	background-color: #669ec0;
}

.submit:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, .3);
}

.filters {
	background-image: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
	background-position: 0;
	background-size: auto;
}

.filter-option {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.filter-option-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filter-option fieldset {
	border: none;
}

.filter-option-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	color: #fff;
	background: 
}

.filter-option-type,
.filter-price {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}

.search-filter {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	width: 1200px;
	background-color: #fff;
	padding: 31px 0 33px;
	padding-left: 72px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

.search-filter-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 0;
	margin-right: 49px;
	padding: 0;
}

.search-filter h2 {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.search-filter-list {
	display: flex;
	justify-content: space-between;
	width: 238px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	list-style: none;
}

.search-filter-list a {
	color: rgba(0, 0, 0, .3);
	border-bottom: 1px dashed #81b3d2;
}

.search-filter-list a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.search-filter-list a:active {
	color: #000;
	border: none;
}


.search-filter-link-current {
	color: #81b3d2;
	border: none;
}

.search-filter-button {
	margin-left: auto;
}

.search-filter-button a {
	color: #cacaca;
}

.search-filter-button a:hover {
	color: #000;
}

.search-filter-button a:active {
	color: #81b3d2;
}

.catalog {
	background-color: #fff;
	width: 1200px;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1200px;
}


.catalog-item {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	padding: 30px 0 30px;
	padding-left: 72px;
}

.catalog-item-category {
	margin-left: 30px;
}

.catalog-link h3:hover {
	color: #81b3d2;
}

.catalog-link h3:active {
	color: rgba(0, 0, 0, .3);
}

.catalog-title {
	font-size: 21px;
	line-height: 26px;
	color: #000;
	font-weight: bold;
	margin: 0;
}

.catalog-item-price-range {
	color: #333;
	font-weight: normal;
}

.catalog-btn-info {
	padding: 5px 15px;
	background-color: #81b3d2;
	color: #fff;
}

.catalog-btn-info:hover {
	background-color: #669ec0;
	color: #fff;
}

.catalog-btn-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, .3);
}

.catalog-btn-booking {
	padding: 5px 15px;
	background-color: #766357;
	color: #fff;
}

.catalog-btn-booking:hover {
	background-color: #604e43;
	color: #fff;
}

.catalog-btn-booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, .3);
}

.catalog-rating {
	margin: 0;
	color: #666;
	font-weight: normal;
	text-align: center;
	background-color: #f2f2f2;
	width: 110px;
}



